name: DockerBuild

on:
    push:
        branches:
            - main
    workflow_dispatch:

permissions:
  contents: read
  id-token: write
    
jobs:
    build-and-push:
        name: Build-and-push-docker-image
        runs-on: ubuntu-latest

        steps:
            - name: Checkout Code
              uses: actions/checkout@v4
            
            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:
                role-to-assume: arn:aws:iam::955967371588:role/ECRaccess
                aws-region: us-east-1
            
            - name: Login To Amazon ECR
              uses: aws-actions/amazon-ecr-login@v2
            
            - name: Docker build tag and push to ECR Repository
              env:
                REGISTY: ${{ steps.login-ecr.outputs.registry }}
                REPOSITORY: my-ecr-repo
                VERSION: latest
              run: |
                docker build -t $REGISTRY/$REPOSITORY:$VERSION .
                docker push $REGISTRY/$REPOSITORY:$VERSION



